.title,
div.buttons {
  flex-direction: row;
}
.box,
.main,
.title {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.view {
  border: 2px solid #000;
  outline: black dotted 1px;
  outline-offset: -6px;
}
.mybuttons {
  border-color: #d5d6cf;
  border-style: solid;
  border-width: revert;
}
.window {
  height: 455px;
  width: 585px;
}
.main {
  justify-content: center;
  height: 600px;
  align-items: center;
}
.show {
  justify-content: center;
}
.box {
  justify-content: space-between;
}
hr {
  width: 900px;
  color: #d3d5ce;
  margin: 6px 0 4px 2px;
}
.none,
.show_all {
  margin-left: 20.5px;
}
.only {
  margin-left: 112px;
}
.indicator {
  margin-right: 47.5px;
}
.holder {
  margin-left: 79px;
}
.hide {
  margin-right: 99px;
}
.field-row {
  margin-bottom: 10px;
}
.field-row1 {
  float: right;
  margin: 4px;
}
.title {
  margin-bottom: 10px;
}
.title-bar {
  height: 30px;
}
.title-bar-controls {
  margin-right: -2px;
}
.box1 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 20px;
}
.box2,
.row1 {
  display: flex;
}
.box2 {
  flex-direction: row;
  justify-content: space-around;
}
.btn-holder {
  margin-bottom: -2px;
}
.btn-holder button {
  flex-grow: 3;
}
.upper_btn {
  z-index: 99;
  position: absolute;
  top: -2px;
}
.ok {
  border: 1px solid #000;
  outline: #9ab2db solid 3px;
  outline-offset: -3.5px;
  margin-right: 5px;
}
.underline {
  text-decoration: underline;
}
